<div class="row">
  <div class="col-12">
    <div
      class="page-title-head d-flex align-items-sm-center flex-sm-row flex-column"
    >
      <div class="flex-grow-1">
        <h4 class="fs-18 fw-semibold m-0">Dashboard</h4>
      </div>
    </div>
    <!-- end card header -->
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="row row-cols-xxl-4 row-cols-md-2 row-cols-1 text-center">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5
              class="text-muted fs-13 text-uppercase"
              title="Number of Orders"
            >
              Cantidad multas
            </h5>
            <div
              class="d-flex align-items-center justify-content-center gap-2 my-2 py-1"
            >
              <div class="user-img fs-42 flex-shrink-0">
                <span class="avatar-title text-bg-primary rounded-circle fs-22">
                  <i class="fa-solid fa-file-invoice-dollar"></i>
                </span>
              </div>
              <h3 class="mb-0 fw-bold">687.3k</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- end col -->

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5
              class="text-muted fs-13 text-uppercase"
              title="Number of Orders"
            >
              Total ingresos multas
            </h5>
            <div
              class="d-flex align-items-center justify-content-center gap-2 my-2 py-1"
            >
              <div class="user-img fs-42 flex-shrink-0">
                <span class="avatar-title text-bg-primary rounded-circle fs-22">
                  <i class="fa-solid fa-sack-dollar"></i>
                </span>
              </div>
              <h3 class="mb-0 fw-bold">9.62k</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- end col -->

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5
              class="text-muted fs-13 text-uppercase"
              title="Number of Orders"
            >
              Cantidad activas
            </h5>
            <div
              class="d-flex align-items-center justify-content-center gap-2 my-2 py-1"
            >
              <div class="user-img fs-42 flex-shrink-0">
                <span class="avatar-title text-bg-primary rounded-circle fs-22">
                  <i class="fa-solid fa-circle-check"></i>
                </span>
              </div>
              <h3 class="mb-0 fw-bold">$98.24</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- end col -->

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5
              class="text-muted fs-13 text-uppercase"
              title="Number of Orders"
            >
              Total ganancias
            </h5>
            <div
              class="d-flex align-items-center justify-content-center gap-2 my-2 py-1"
            >
              <div class="user-img fs-42 flex-shrink-0">
                <span class="avatar-title text-bg-primary rounded-circle fs-22">
                  <i class="fa-solid fa-chart-line"></i>
                </span>
              </div>
              <h3 class="mb-0 fw-bold">87.94M</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-xxl-8">
        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <h4 class="header-title">Estatus multas</h4>
          </div>

          <div class="bg-opacity-50">
            <apx-chart
              [dataLabels]="dataModelo.dataLabels"
              [series]="chartReporteVenta.series"
              [chart]="dataModelo.chart"
              [xaxis]="chartReporteVenta.xaxis"
              [plotOptions]="dataModelo.plotOptions"
              [yaxis]="dataModelo.yaxis"
            ></apx-chart>
          </div>
        </div>
        <!-- end card-->
      </div>
      <!-- end col-->

      <div class="col-xxl-4">
        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center border-bottom border-dashed"
          >
            <h4 class="header-title">Porcentaje de multas</h4>
          </div>

          <div class="card-body">
            <apx-chart
              [labels]="chartReporteVenta2.labels"
              [series]="chartReporteVenta2.series"
              [chart]="{
                type: 'pie',
                height: '300px'
              }"
              [xaxis]="chartReporteVenta.xaxis"
              [plotOptions]="dataModelo.plotOptions"
              [yaxis]="dataModelo.yaxis"
            ></apx-chart>
          </div>
        </div>
        <!-- end card-->
      </div>
      <!-- end col-->
    </div>
    <!-- end row-->
  </div>
  <!-- end col-->
</div>
