<div class="sidenav-menu">
  <!-- Brand Logo -->
  <a routerLink="/" class="logo">
    <span class="logo-light">
      <span class="logo-lg"
        ><img src="assets/images/logo.png" alt="logo"
      /></span>
      <span class="logo-sm"
        ><img src="assets/images/logo-sm.png" alt="small logo"
      /></span>
    </span>

    <span class="logo-dark">
      <span class="logo-lg"
        ><img src="assets/images/logo-dark.png" alt="dark logo"
      /></span>
      <span class="logo-sm"
        ><img src="assets/images/logo-sm.png" alt="small logo"
      /></span>
    </span>
  </a>

  <!-- Sidebar Hover Menu Toggle Button -->
  <button class="button-sm-hover">
    <i class="ti ti-circle align-middle"></i>
  </button>

  <!-- Full Sidebar Menu Close Button -->
  <button class="button-close-fullsidebar">
    <i class="ti ti-x align-middle"></i>
  </button>

  <div data-simplebar>
    <!--- Sidenav Menu -->
    <ul class="side-nav">
      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          aria-expanded="false"
          aria-controls="Consorcio"
          href="#Consorcio"
          class="side-nav-link"
        >
          <span class="menu-icon"><i class="fa-solid fa-building"></i></span>
          <span class="menu-text"> Consorcio </span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" routerLinkActive="show" id="Consorcio">
          <ul class="sub-menu">
            <li
              class="side-nav-item"
              routerLink="/consorcio/grupos-bancas"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Grupo de bancas</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/consorcio/rutas-recoleccion"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Rutas de recolección</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/consorcio/bancas"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Bancas</span>
              </a>
            </li>
            <li class="side-nav-item">
              <a class="side-nav-link">
                <span class="menu-text">Monitoreo de bancas</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/consorcio/terminales"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Terminales</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/consorcio/usuarios"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Usuarios</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          href="#Loterias"
          aria-expanded="false"
          aria-controls="Loterias"
          class="side-nav-link"
        >
          <span class="menu-icon"><i class="fas fa-ticket-alt"></i></span>
          <span class="menu-text">Lotería</span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" routerLinkActive="show" id="Loterias">
          <ul class="sub-menu">
            <li
              class="side-nav-item"
              routerLink="/loterias/tickets"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Tickets</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/loterias/premios"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Premios</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/loterias/monitoreo"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Monitoreo</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/loterias/limites-venta"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Limites de venta</span>
              </a>
            </li>

            <li
              class="side-nav-item"
              routerLink="/loterias/loterias-lista"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Loterías</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/loterias/productos"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Productos</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          aria-expanded="false"
          href="#Reportes"
          aria-controls="Reportes"
          class="side-nav-link"
        >
          <span class="menu-icon"><i class="fas fa-chart-line"></i></span>
          <span class="menu-text">Reportes</span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" routerLinkActive="show" id="Reportes">
          <ul class="sub-menu">
            <li
              class="side-nav-item"
              routerLink="/reportes/total-por-periodo"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Total Por Periodo</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes/total-de-ventas"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Total De Ventas</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes/ventas-por-periodo-2"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Ventas Por Periodo 2</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes/ventas-por-usuario"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Ventas Por Usuario</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes/ventas-por-dia"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Ventas Por Día</span>
              </a>
            </li>
            <!-- un divider -->
            <div class="border-top my-1"></div>

            <li
              class="side-nav-item"
              routerLink="/reportes/total-de-ventas-pequeno"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Total De Ventas Pequeño</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes/cuadre-supervisor"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Cuadre Supervisor</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes/ventas-por-periodo"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Ventas Por Periodo</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes/numeros-vendidos"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Números Vendidos</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes/numeros-vendidos-pequeno"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Números Vendidos Pequeño</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes/rebote"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Rebote</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes/venta-detallada"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Venta Detallada</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes/ventas-por-apuesta"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Ventas Por Apuesta</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes/ventas-de-recarga"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Ventas De Recarga</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          aria-expanded="false"
          href="#ReporteAvanzados"
          aria-controls="ReporteAvanzados"
          class="side-nav-link"
        >
          <span class="menu-icon">
            <i class="fas fa-chart-pie"></i>
          </span>
          <span class="menu-text">Reporte Avanzados</span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" routerLinkActive="show" id="ReporteAvanzados">
          <ul class="sub-menu">
            <li
              class="side-nav-item"
              routerLink="/reportes-avanzados/sin-transacciones"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Sin Transacciones</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes-avanzados/ventas-detalladas"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Ventas Detalladas</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes-avanzados/configuracion-por-cajero"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Configuración por Cajero</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes-avanzados/cuadre-de-recargas"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Cuadre de Recargas</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes-avanzados/estadistica-de-loteria"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Estadística de Lotería</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes-avanzados/auditoria"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Auditoría</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes-avanzados/premios-reporte"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Premios Reporte</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes-avanzados/tickets-no-pagos"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Tickets No Pagos</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes-avanzados/ventas-enviadas-tarde"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Ventas Enviadas Tarde</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes-avanzados/horario-de-trabajo"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Horario de Trabajo</span>
              </a>
            </li>
            <li
              class="side-nav-item"
              routerLink="/reportes-avanzados/resultado-loteria-express"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Resultado Lotería Express </span>
              </a>
            </li>
            <div class="border-top my-1"></div>

            <li
              class="side-nav-item"
              routerLink="/reportes-avanzados/enviar-reporte-por-correo"
              routerLinkActive="active"
            >
              <a class="side-nav-link" routerLinkActive="active">
                <span class="menu-text">Enviar Reporte por Correo</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
