<div class="sidenav-menu">
  <!-- Brand Logo -->
  <a routerLink="/" class="logo">
    <span class="logo-light">
      <span class="logo-lg"
        ><img src="assets/images/logo.png" alt="logo"
      /></span>
      <span class="logo-sm"
        ><img src="assets/images/logo-sm.png" alt="small logo"
      /></span>
    </span>

    <span class="logo-dark">
      <span class="logo-lg"
        ><img src="assets/images/logo-dark.png" alt="dark logo"
      /></span>
      <span class="logo-sm"
        ><img src="assets/images/logo-sm.png" alt="small logo"
      /></span>
    </span>
  </a>

  <!-- Sidebar Hover Menu Toggle Button -->
  <button class="button-sm-hover">
    <i class="ti ti-circle align-middle"></i>
  </button>

  <!-- Full Sidebar Menu Close Button -->
  <button class="button-close-fullsidebar">
    <i class="ti ti-x align-middle"></i>
  </button>

  <div data-simplebar>
    <!--- Sidenav Menu -->
    <ul class="side-nav">
      @if(auth.isAgente() || auth.isUser()){
      <li class="side-nav-item" (click)="closeMenu()" routerLink="/multas" routerLinkActive="active">
        <a class="side-nav-link" routerLinkActive="active">
          <span class="menu-icon">
            <i class="ti ti-files"></i>
          </span>
          <span class="menu-text">Multas</span>
        </a>
      </li>
      } @if(auth.isAgente() || auth.isUser()){
      <li class="side-nav-item" routerLink="/mapa" (click)="closeMenu()" routerLinkActive="active">
        <a class="side-nav-link" routerLinkActive="active">
          <span class="menu-icon">
            <i class="ti ti-map"></i>
          </span>
          <span class="menu-text">Mapa</span>
        </a>
      </li>
      } @if(auth.isAgente() ){
      <li
        class="side-nav-item"
        routerLink="/comision-por-mes"
        routerLinkActive="active"
        (click)="closeMenu()"
      >
        <a class="side-nav-link" routerLinkActive="active">
          <span class="menu-icon">
            <i class="ti ti-chart-bar"></i>
          </span>
          <span class="menu-text">Comisión por Mes</span>
        </a>
      </li>
      } @if(auth.isUser() ){
      <li
        class="side-nav-item"
        routerLink="/reporte-de-ingresos"
        routerLinkActive="active"
        (click)="closeMenu()"
      >
        <a class="side-nav-link" routerLinkActive="active">
          <span class="menu-icon">
            <i class="ti ti-report-money"></i>
          </span>
          <span class="menu-text">Reporte de Ingresos</span>
        </a>
      </li>
      } @if(auth.isUser() ){

      <li class="side-nav-item" (click)="closeMenu()" routerLink="/agentes" routerLinkActive="active">
        <a class="side-nav-link" routerLinkActive="active">
          <span class="menu-icon">
            <i class="ti ti-user-check"></i>
          </span>
          <span class="menu-text">Agentes</span>
        </a>
      </li>
      } @if(auth.isAdmin() ){

      <li
        class="side-nav-item"
        routerLink="/conceptos"
        routerLinkActive="active"
        (click)="closeMenu()"
      >
        <a class="side-nav-link" routerLinkActive="active">
          <span class="menu-icon">
            <i class="ti ti-list-details"></i>
          </span>
          <span class="menu-text">Conceptos</span>
        </a>
      </li>
      } @if(auth.isAdmin() ){

      <li
        class="side-nav-item"
        routerLink="/usuarios"
        routerLinkActive="active"
        (click)="closeMenu()"
      >
        <a class="side-nav-link" routerLinkActive="active">
          <span class="menu-icon">
            <i class="ti ti-user"></i>
          </span>
          <span class="menu-text">Usuarios</span>
        </a>
      </li>
      }
    </ul>
    <div class="clearfix"></div>
  </div>
</div>

<style>
  .side-nav-item {
    cursor: pointer;
  }
</style>
