@if(this.auth.usuarioData || this.auth.agenteData){
<div class="wrapper">
  <app-nav-menu />

  <app-header />

  <div
    class="modal fade"
    id="searchModal"
    tabindex="-1"
    aria-labelledby="searchModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-transparent">
        <div class="card mb-1">
          <div
            class="px-3 py-2 d-flex flex-row align-items-center"
            id="top-search"
          >
            <i class="ti ti-search fs-22"></i>
            <input
              type="search"
              class="form-control border-0"
              id="search-modal-input"
              placeholder="Search for actions, people,"
            />
            <button
              type="button"
              class="btn p-0"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              [esc]
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->
  <div class="page-content">
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
    <!-- container -->

    <footer class="footer">
      <div class="page-container">
        <div class="row">
          <div class="col-md-6 text-center text-md-start">
            <script>
              document.write(new Date().getFullYear());
            </script>
            Proyecto
            <span
              class="fw-bold text-decoration-underline text-uppercase text-reset fs-12"
              >DIGESSETT</span
            >
          </div>
          <div class="col-md-6">
            <div class="text-md-end footer-links d-none d-md-block">
              <a href="javascript: void(0);" routerLink="/acerca-de"
                >Acerca De</a
              >
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->
</div>

}@else {
<router-outlet></router-outlet>
}
