<app-container-table
  [titulo]="'Conceptos'"
  [labelBoton]="'Agregar nuevo concepto'"
  (botonFuncionClick)="openModal(null)"
>
  <ejs-grid
    #grid
    id="Grid"
    [dataSource]="conceptos"
    [allowExcelExport]="true"
    [allowSorting]="true"
    [allowPaging]="true"
    [toolbar]="config.toolbarOptions"
    [pageSettings]="config.pageSettings"
    [filterSettings]="config.filterOptions"
    [allowResizing]="true"
    [allowFiltering]="true"
    width="100%"
    height="50vh"
    (toolbarClick)="config.toolbarClick($event, grid)"
  >
    <e-columns>
      <e-column
        field="ConceptoId"
        headerText="ID Concepto"
        width="150"
        minWidth="150"
      ></e-column>
      <e-column
        field="Descripcion"
        headerText="Descripción"
        width="300"
        minWidth="250"
      ></e-column>
      <e-column
        field="Monto"
        headerText="Monto"
        width="150"
        minWidth="150"
        format="C2"
      ></e-column>

      <e-column
        field="Acciones"
        headerText="Acciones"
        width="150"
        minWidth="150"
        textAlign="Center"
        [allowFiltering]="false"
      >
        <ng-template #template let-data>
          <div class="hstack gap-1 justify-content-center">
            <a
              href="javascript:void(0);"
              class="btn btn-soft-success btn-icon btn-sm rounded-circle"
              (click)="openModal(data)"
            >
              <i class="ti ti-edit fs-16"></i
            ></a>
            <a
              href="javascript:void(0);"
              class="btn btn-soft-danger btn-icon btn-sm rounded-circle"
              (click)="deleteData(data.ConceptoId)"
            >
              <i class="ti ti-trash"></i
            ></a>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</app-container-table>

<ng-template #content let-modal style="z-index: 1000">
  <div class="modal-header">
    <h3 class="modal-title">
      {{ tituloModal }}
    </h3>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row mb-2">
        <div class="col-md-7">
          <label for="cuenta" class="form-label">Descripcion</label>
          <input
            type="text"
            class="form-control"
            formControlName="Descripcion"
            [class.is-invalid]="InvalidControl('Descripcion')"
          />
          <div *ngIf="InvalidControl('Descripcion')" class="invalid-feedback">
            El campo es requerido
          </div>
        </div>
        <div class="col-md-5 col-6">
          <label for="cuenta" class="form-label">Monto</label>
          <input
            type="number"
            class="form-control"
            formControlName="Monto"
            [class.is-invalid]="InvalidControl('Monto')"
          />
          <div *ngIf="InvalidControl('Monto')" class="invalid-feedback">
            El campo es requerido
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      data-bs-dismiss="modal"
      (click)="closeModal()"
    >
      Cerrar
    </button>
    <button class="btn btn-success" style="color: white" (click)="saveData()">
      Guardar
    </button>
  </div>
</ng-template>
