<div class="card mx-auto mt-5" style="width: 30%; align-self: center">
  <div class="card-body">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img
        src="https://github.com/Jenry560.png"
        alt="image"
        class="img-fluid rounded-circle img-thumbnail"
        width="200"
        height="200"
      />
      <p class="mb-0">
        <code>2023-1080</code>
      </p>
      <h5 class="card-title" style="font-size: 18px">
        Jenry Jose Sanchez Hodge
      </h5>
      <!-- icono de telegram con el link de telegram -->
      <a href="https://t.me/Jenry162" target="_blank">
        <i style="font-size: 30px" class="fa-brands fa-telegram"></i>
      </a>
    </div>
  </div>
</div>
