/* Icons */
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";
/* Grid */
@import "../node_modules/@syncfusion/ej2-base/styles/bootstrap5.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/bootstrap5.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap5.css";
@import "../node_modules/@syncfusion/ej2-angular-grids/styles/bootstrap5.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/bootstrap5.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/bootstrap5.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/bootstrap5.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/bootstrap5.css";
@import "../node_modules/@syncfusion/ej2-angular-calendars/styles/bootstrap5.css";
/* Toast */
@import "../node_modules/ngx-toastr/toastr.css";
.all {
  width: 100%;
}
.e-grid .e-headercell {
  background-color: #0c0c0d;
  color: white; /* Color del texto del encabezado */
}
html[data-sidenav-size="sm-hover-active"]:not([data-layout="topnav"])
  .sidenav-menu
  .logo {
  text-align: center;
}

.is-invalid .ng-select-container {
  border-color: red;
}

.color-success {
  color: #079a35;
}
